<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            
            <section name="TheHunt.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TheHunt.Properties.Sound" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TheHunt.Properties.Screen" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TheHunt.Sound" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TheHunt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<userSettings>
        
        <TheHunt.User>
                <setting name="name" serializeAs="String">
                        <value>Default</value>
                </setting>
                <setting name="online" serializeAs="String">
                        <value>True</value>
                </setting>
        </TheHunt.User>
        <TheHunt.Properties.Sound>
                <setting name="music" serializeAs="String">
                        <value>100</value>
                </setting>
                <setting name="effects" serializeAs="String">
                        <value>100</value>
                </setting>
                <setting name="master" serializeAs="String">
                        <value>100</value>
                </setting>
        </TheHunt.Properties.Sound>
        <TheHunt.Properties.Screen>
                <setting name="full" serializeAs="String">
                        <value>False</value>
                </setting>
        </TheHunt.Properties.Screen>
        <TheHunt.Sound>
                <setting name="Master" serializeAs="String">
                        <value>100</value>
                </setting>
                <setting name="Music" serializeAs="String">
                        <value>100</value>
                </setting>
                <setting name="Effects" serializeAs="String">
                        <value>100</value>
                </setting>
        </TheHunt.Sound>
        <TheHunt.Properties.Settings>
                <setting name="fullScreen" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="masterSound" serializeAs="String">
                        <value>100</value>
                </setting>
        </TheHunt.Properties.Settings>
    </userSettings>
</configuration>