<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            
            <section name="TheHunt.Properties.Levels" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TheHunt.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TheHunt.Properties.Sound" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TheHunt.Properties.Screen" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TheHunt.Sound" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TheHunt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<userSettings>
        
        <TheHunt.Properties.Levels>
                <setting name="level1" serializeAs="String">
                        <value>{
  "obstacles": [
    {
      "x": 5,
      "y": 5
    },
    {
      "x": 10,
      "y": 10
    }
  ],
  "boss": {
    "position": {
      "x": 500,
      "y": 500
    },
        "speed": {
      "x": 3,
      "y": 3
    },
    "movement": {
       "walk": {
        "x": 3,
        "y": 3
      },
      "run": {
        "x": 10,
        "y": 10
      }
    },
    "hp": 100
  },
  "npcs": [
    {
      "type": "Enemy",
      "positions": {
        "current_position": {
          "x": 300,
          "y": 300
        },
        "return_position": {
          "x": 70,
          "y": 20
        }
      },
      "speed": {
        "x": 5,
        "y": 5
      }
    },
    {
      "type": "Enemy",
      "positions": {
        "current_position": {
          "x": 150,
          "y": 50
        },
        "return_position": {
          "x": 70,
          "y": 20
        }
      },
      "speed": {
        "x": 4,
        "y": 4
      }
    },
    {
      "type": "Enemy",
      "positions": {
        "current_position": {
          "x": 500,
          "y": 350
        },
        "return_position": {
          "x": 70,
          "y": 20
        }
      },
      "speed": {
        "x": 3,
        "y": 3
      }
    },
    {
      "type": "Enemy",
      "positions": {
        "current_position": {
          "x": 500,
          "y": 100
        },
        "return_position": {
          "x": 70,
          "y": 20
        }
      },
      "speed": {
        "x": 2,
        "y": 2
      }
    },
    {
      "type": "Enemy",
      "positions": {
        "current_position": {
          "x": 700,
          "y": 150
        },
        "return_position": {
          "x": 70,
          "y": 20
        }
      },
      "speed": {
        "x": 1,
        "y": 1
      }
    },
  ],
  "player": {
    "img": "ww1",
    "positions": {
      "current_position": {
        "x": 0,
        "y": 300
      },
      "last_position": {
        "x": 0,
        "y": 300
      }
    },
    "speed": {
      "x": 3,
      "y": 3
    },
    "movement": {
      "walk": {
        "x": 2,
        "y": 2
      },
      "run": {
        "x": 5,
        "y": 5
      }
    }

  }
  }
</value>
                </setting>
                <setting name="level2" serializeAs="String">
                        <value />
                </setting>
                <setting name="level3" serializeAs="String">
                        <value />
                </setting>
                <setting name="level4" serializeAs="String">
                        <value />
                </setting>
                <setting name="level5" serializeAs="String">
                        <value />
                </setting>
                <setting name="customlv2" serializeAs="String">
                        <value />
                </setting>
                <setting name="customlv3" serializeAs="String">
                        <value />
                </setting>
                <setting name="customlv4" serializeAs="String">
                        <value />
                </setting>
                <setting name="customlv5" serializeAs="String">
                        <value />
                </setting>
                <setting name="customlv6" serializeAs="String">
                        <value />
                </setting>
                <setting name="customlv7" serializeAs="String">
                        <value />
                </setting>
                <setting name="customlv8" serializeAs="String">
                        <value />
                </setting>
                <setting name="customlv9" serializeAs="String">
                        <value />
                </setting>
                <setting name="customlv10" serializeAs="String">
                        <value />
                </setting>
                <setting name="customlv1" serializeAs="String">
                        <value />
                </setting>
        </TheHunt.Properties.Levels>
        <TheHunt.User>
                <setting name="name" serializeAs="String">
                        <value>Default</value>
                </setting>
                <setting name="online" serializeAs="String">
                        <value>True</value>
                </setting>
        </TheHunt.User>
        <TheHunt.Properties.Sound>
                <setting name="music" serializeAs="String">
                        <value>100</value>
                </setting>
                <setting name="effects" serializeAs="String">
                        <value>100</value>
                </setting>
                <setting name="master" serializeAs="String">
                        <value>100</value>
                </setting>
        </TheHunt.Properties.Sound>
        <TheHunt.Properties.Screen>
                <setting name="full" serializeAs="String">
                        <value>False</value>
                </setting>
        </TheHunt.Properties.Screen>
        <TheHunt.Sound>
                <setting name="Master" serializeAs="String">
                        <value>100</value>
                </setting>
                <setting name="Music" serializeAs="String">
                        <value>100</value>
                </setting>
                <setting name="Effects" serializeAs="String">
                        <value>100</value>
                </setting>
        </TheHunt.Sound>
        <TheHunt.Properties.Settings>
                <setting name="fullScreen" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="masterSound" serializeAs="String">
                        <value>100</value>
                </setting>
        </TheHunt.Properties.Settings>
    </userSettings>
</configuration>